<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h1>Registrar's Office</h1>
            <p><a href="/students">Click Here</a> to enter Students</p>
            <p><a href="/courses">Click Here</a> to enter Courses</p>
        </div>

    </body>
</html>
