<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h1>Registrar's Office</h1>
            <h2>{{student.getName}}</h2>
            <p>
                Enrolled: {{student.getEnrollment}}
            </p>
            <h3>Courses:</h3>
        </div>

    </body>
</html>
